ollama_host: "http://localhost:11434"
models:
  - "magistral:24b"
  - "gpt-oss:20b"
  - "qwen3:14b"
  - "qwen3:8b"
tests_dir: "tests"
debug: true
debug_models: [ "qwen3:14b"]
debug_categories: [ "code" ]
#debug_task_limit: 5